<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>
<body>
    <div class="login-container">
        <form action="/login" method="POST">
            <input type="text" name="username" class="terminal-input" placeholder="Username" required><br>
            <input type="password" name="password" class="terminal-input" placeholder="Password" required><br>
            <a href="#" class="link-button centered-link" onclick="document.forms[0].submit(); return false;">LOGIN</a>
        </form>
    
        {% if error %}
        <p class="error-message">{{ error }}</p>
        {% endif %}
        <p class="register-link">Don't have an account? <a href="{{ url_for('register') }}" class="link-button smaller-link">Register here</a></p>
        <div class="scanlines"></div>
    </div>
    <script src="{{ url_for('static', filename='enter.js') }}"></script>
</body>
</html>